.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
    text-align: center;
    border-radius: 25px;
    float:left;
    height: 500px;
  }
.card img{
    border-radius: 25px 25px 0px 0px;
    height: 40%;

}
.card p{
    padding: 0px 15px 0px 15px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.card h2{
    font-family: 'fonte';
}