/*cores*/
:root{
    --verdeoliva: #6b8e23 ;
    --verdeescuro: #556B2F ;
    --verdebege: #adbe7c ; 
    --offwhite: #d1be9a;
    --bege: #bea27c; 
    --branco: #fff;
    --preto: #000; 
}

/*fontes*/
@font-face {
    font-family: fonte;
    src: url(the_kids_mraker/The\ Kids\ Mraker.ttf);
}

header{
    width: 100%;
    background-color: rgb(150, 168, 132);
    height: 110px;
}
nav {
	margin: 27px auto 0;
    margin-top: -2px;
	position: relative;
	width: 410px;
	height: 50px;
	background-color: rgba(108, 120, 97, 0.495);
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 15px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 90px;
}
a:nth-child(4) {
	width: 60px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 70px;
	left: 15px;
	background-color: #1abc5b;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 115px;
	left: 97px;
	background-color: var(--verdeoliva);
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 60px;
	left: 226px;
	background-color: var(--verdeescuro);
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 90px;
	left: 290px;
	background-color: var(--verdebege);
}


p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

