/*cores*/
:root{
    --verdeoliva: #6b8e23 ;
    --verdeescuro: #556B2F ;
    --verdebege: #adbe7c ; 
    --offwhite: #d1be9a;
    --bege: #bea27c; 
    --branco: #fff;
    --preto: #000; 
}

.inicio {
  background-color: var(--verdebege);
}

/*fontes*/
@font-face {
    font-family: fonte;
    src: url(the_kids_mraker/The\ Kids\ Mraker.ttf);
}

*{
	box-sizing:border-box
}
header{
    width: 100%;
    background-color: rgb(150, 168, 132);
    height: 110px;
}
nav {
	margin: 27px auto 0;
  margin-top: 10px;
	position: relative;
	width: 220px;
	height: 50px;
	background-color: rgba(76, 122, 34, 0.495);
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 15px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:hover{
	color: white;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 70px;
	left: 15px;
	background-color: #1abc5b;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 115px;
	left: 97px;
	background-color: var(--verdeoliva);
}


p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

/* Slideshow container */
.slideshow-container {
  width: 700px;
  background-color: green;
  position: relative;
  margin: auto;
  margin-top: 300px;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.521);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.sobre {
  width: 500px;
  margin-left: 15%;
  background-color: #556b2fb2;
  padding: 20px;
  border-radius: 10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -135px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 5px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(41, 65, 21, 0.247);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'fonte';
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #6e8a4e60;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #6e8a4e;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*cards*/
.card {
padding-top: 30px;
margin: 10px;
position: relative;
width: 200px;
height: 300px;
cursor: pointer;
transform-style: preserve-3d;
transform-origin: center right;
transition: transform 0.5s;
}

.card.is-flipped {
transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
position: absolute;
width: 200px;
height: 300px;
line-height: 260px;
color: white;
text-align: center;
font-weight: bold;
font-size: 40px;
backface-visibility: hidden;
}

.card__face--front {
width: 200px;
height: 300px;
}

.card__face--back {
background: slateblue;
transform: rotateY(180deg);
}

.frenteimg, .trasimg {
width: 200px;
height: 300px;
border-radius: 12px;
}

